:root {
    --text-color: #111517;
    --bg-color: #fafafa;
    --element-bg: #fff;
}

/* DAR MODE */
.dark {
    --bg-color: #202c36;
    --element-bg: #2b3844;
    --text-color: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* OUTLINE */
*:focus {
    outline: 2px dashed blue;
    outline-offset: 2px;
}

html {
    scroll-behavior: smooth;
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--bg-color);
}

a {
    list-style: none;
    text-decoration: none;
    color:var(--text-color)
}

img {
    height: 100%;
    display: block;
}

.container {
    width: 100%;
    max-width: 1340px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}




/* Back */
.back {
    display: flex;
    align-items: center;
    max-width: 136px;
    margin-top: 0;
    margin-bottom: 80px;
    padding: 10px 40px;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
    background-color: var(--element-bg);
    color: var(--text-color);
}

.back:hover {
    opacity: 0.8;
}

.back:active {
    opacity: 0.6;
}

.back-img {
    display: block;
    margin-right: 10px;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1);
}

.back-text {
    font-size: 16px;
    font-weight: 300;
}

/* Country-blog */
.country-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.country-blog-img {
    display: block;
    border-radius: 15px;
}


.country-blog-main {
    width: 598px;
    height: 323px;
}

.country-blog-information-title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 32px;
}
.country-blog-main-information {
    display: flex;
    justify-content: space-between;
}

.country-blog-main-information-left {
    width: 207px;
    height: 160px;
    margin-top: 0;
    margin-bottom: 60px;
}


.country-blog-main-border {
    display: flex;
    align-items: center;
}
.country-blog-main-border-title {
    margin-top: 0;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.country-blog-main-border-links {
    display: flex;
}

.country-blog-main-border-link {
    min-width: 96px;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px 10px;
    font-weight: 300;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px rgb(0, 0, 0, 0.10);
    background-color: var(--element-bg);
    color: var(--text-color);
}

.country-blog-main-border-link:not(:last-child){
    margin-right: 10px;
}

.country-blog-main-border-link:hover {
    opacity: 0.8;
}

.country-blog-main-border-link:active {
    opacity: 0.6;
}