:root {
    --text-color: #111517;
    --bg-color: #fafafa;
    --element-bg: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* OUTLINE */
*:focus {
    outline: 2px dashed blue;
    outline-offset: 2px;
}

html {
    scroll-behavior: smooth;
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: background-color 0.4s ease,
        color 0.4s ease;
}

a {
    list-style: none;
    text-decoration: none;
}

/* DAR MODE */
.dark {
    --bg-color: #202c36;
    --element-bg: #2b3844;
    --text-color: #fff;
}

img {
    height: 100%;
    display: block;
}

.container {
    width: 100%;
    max-width: 1340px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}


/* Header */
.site-header {
    margin-top: 0;
    margin-bottom: 48px;
    padding-top: 23px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    background: var(--bg-color);
    white-space: nowrap;
}

.site-header-main {
    display: flex;
}

.site-header-link{
    margin-right: auto;
    font-weight: 800;
    font-size: 24px;
    color: var(--text-color);
}


.dark-mode {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.dark-mode:hover {
    opacity: 0.8;
}

.dark-mode:active {
    opacity: 0.6;
}

.dark-mode-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode-inner-img {
    display: block;
}

.dark-mode-inner-text {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: var(--text-color);
}


/* Main section */
.main{
    background-color: var(--bg-color);
}

/* Search-filter */
.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 48px;
}

.search {
    width: 480px;
    height: 56px;
}

.search-input {
    width: 100%;
    padding: 18px 32px;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.search-input::before {
    width: 20px;
    height: 20px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
}

#filter-name {
    width: 200px;
    height: 56px;
    padding: 18px 24px;
    border-radius: 5px;
}

.countries-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.country-flag {
    width: 264px;
    height: 336px;
    border-radius: 5px;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}

.country-flag-link {
    color: var(--text-color)
}

.country-flag-img {
    display: block;
    width: 267px;
    height: 160px;
    margin-top: 0;
    margin-bottom: 24px;
}

.country-flag-blog {
    margin-top: 0;
    margin-left: 24px;
}

.country-flag-tittle {
    font-weight: 800;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px;
}

.country-flag-text {
    font-weight: 300;
}

.country-flag-text:not(:last-child) {
    margin-bottom: 8px;
}

.country-flag-main {
    font-weight: 600;
}